*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
}
.image-profile{
    width: 50%;
    border-radius: 20%;
}
nav{
    background-color: #A49276;
    width: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
a{
    text-decoration: none;
    color: #F6F5F5;
}
.skills{
    color: #F6F5F5;
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}
a:hover{
    color: #4d626f;
}
main{
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    width: 100vw;
}
section{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
section>*{
    margin: 1.5rem;
}
.logo{
    max-height: 2rem;
    margin-top: 2rem;
}
.logo-container{
    display: flex;
    justify-content: space-evenly;
}
h1{
    color: #f05254;
    font-size: 6rem;
}
h2{
    font-size: 1.15rem;
    color: #f05254;
}
h3{
    font-size: 1.15rem;
}
p{
    font-size: 1.15rem;
}
li{
    font-size: 1.15rem;
}